body{
    margin: 0;
    padding: 0;
    width: 1400px;
    background: #ebebeb;
}
.menubar{
    margin: 0;
    width: 100%;
    height: 80px;
    background: #32b998
}

.menubar img{
    margin: 0;
    float: left;
    margin-left: 40px;
    padding-top: 20px;
}
.menubar h1{
    margin: 0;
    font-weight: normal;
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

.box_area {
    width: 480px;
    height: 555px;
    margin: 10px auto;
    background-color: #ffffff
}

.box_area img{
    margin: 0;
    margin-left: 141px;
    padding-top: 35px;
}

.box_area input{
    border: 2px solid #333333;
    border-radius: 30px;
    width: 425px;
    height: 60px;
    font-size: 20px;
    padding-left: 10px;
    margin: 20px 25px;
}

.box_area button {
    margin: 10px 141px;
    padding-top: 0px;
    width: 200px;
    height: 60px;
    background: #32b998;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box_area button:hover {
    background: #fff;
    border-radius: 30px;
    color: #333;
    border: 2px solid #333;
}

.box_area p{
    margin: 0;
    float: left;
    margin-left: 55px;
    padding-top: 25px;
    font-weight: 100;
}

.registbutt button{
    margin: 18px 32px;
    float: left;
    padding-top: 0px;
    width: 150px;
    height: 30px;
    background: #333333;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.registbutt button:hover {
    background: #ffffff;
    border-radius: 30px;
    color: #333;
    border: 2px solid #333;
}